/*

Fonts:  Arial
        IBM Bodoni BE Regular
        BookMaster

Colors: f9f9f9 
        2c2c2c

 */

 @import 'enterprise/fonts.css';

:root {
    --side-bar-bg-color: #f9f9f9;
    --control-text-color: #2c2c2c;
    --font-sans-serif: Arial, sans-serif !important;
    --font-monospace: BookMaster, monospace !important;
}

html {
    font-size: 20px;
    background-color: #f9f9f9;
}

body {
    font-family: var(--font-sans-serif);
    color: #2c2c2c;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4rem;
    letter-spacing: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: justify;
}

#write {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 30px 100px;
}

@media only screen and (min-width: 1400px) {
	#write {
		max-width: 1100px;
	}
}

#write p {
    line-height: 1.6rem;
    word-spacing: .05rem;
}

#write ol li {
    padding-left: 0.5rem;
}

#write > ul:first-child,
#write > ol:first-child {
    margin-top: 30px;
}

body > *:first-child {
    margin-top: 0 !important;
}

body > *:last-child {
    margin-bottom: 0 !important;
}

a {
    padding: 0 2px;
    color: #2c2c2c;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.4;
    cursor: text;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    text-decoration: none;
}

h1 tt,
h1 code {
    font-size: inherit !important;
}

h2 tt,
h2 code {
    font-size: inherit !important;
}

h3 tt,
h3 code {
    font-size: inherit !important;
}

h4 tt,
h4 code {
    font-size: inherit !important;
}

h5 tt,
h5 code {
    font-size: inherit !important;
}

h6 tt,
h6 code {
    font-size: inherit !important;
}

h2 a,
h3 a {
    color: #34495e;
}

h1 {
    padding-bottom: .4rem;
    font-size: 3rem;
    line-height: 1.3;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.225;
    margin: 35px 0 15px;
    padding-bottom: 0.5em;
}

h1,h2 {
	font-weight: normal;
	text-align: left;
	font-family: "IBM Bodoni BE Regular";
}

h2 {
    font-style: italic;
}

h3 {
    text-align: left;
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 3rem;
	max-width: fit-content;
	border-top: 4px solid #2c2c2c;
}

h4:before{
	border-bottom: 2px solid #2c2c2c;
    content: '';
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 1px;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

p,
blockquote,
ul,
ol,
dl,
table {
    margin: 0.8em 0;
}

li > ol,
li > ul {
    margin: 0 0;
}

hr {
    height: 1px;
    padding: 0;
    margin: 16px 0;
    background-color: #2c2c2c;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
}

body > h1:first-child {
    margin-top: 0;
    padding-top: 0;
}

body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
}

body > h3:first-child,
body > h4:first-child,
body > h5:first-child,
body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
}

a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}

h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
    margin-top: 0;
}

li p.first {
    display: inline-block;
}

ul,
ol {
    padding-left: 30px;
}

ul:first-child,
ol:first-child {
    margin-top: 0;
}

ul:last-child,
ol:last-child {
    margin-bottom: 0;
}

blockquote {
    background: #f9f9f9;
	padding: 1em;
	border: 1.5px solid #2c2c2c;
}


table {
    padding: 0;
    word-break: initial;
    vertical-align: top;
}

table tr {
    border-top: 1px solid #2c2c2c;
    margin: 0;
    padding: 0;
    vertical-align: top;
}


table tr th {
    font-weight: bold;
    border: 2px solid #2c2c2c;
    border-bottom: 0;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
    vertical-align: top;
}

table tr td {
    border: 2px solid #2c2c2c;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
    vertical-align: top;
}

table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
    border-left: 0px;
    vertical-align: top;
}

table tr th:last-child,
table tr td:last-child {
    margin-bottom: 0;
    border-right: 0px;
    vertical-align: top;
}

#write strong {
    padding: 0 1px;
}

#write em {
    padding: 0 5px 0 2px;
}

#write .CodeMirror-gutters {
    border-right: none;
}

#write .md-fences {
    -webkit-font-smoothing: initial;
    line-height: 1.43rem;
    background-color: #f9f9f9 !important;
    font-family: var(--font-monospace);
    word-wrap: normal;
	margin-top: 2em !important;
	margin-bottom: 0.5em !important;
	padding: 1em !important;
	padding-top: 2em !important;
	border: 1.5px solid #2c2c2c;
    border-radius: 5px;
    font-size: 1rem;
}

#write .CodeMirror-wrap .CodeMirror-code pre {
    padding-left: 12px;
}

#write code, tt { /*inline*/
    padding: 2px 4px;
    border-radius: 2px;
    font-family: var(--font-monospace);
    font-size: 1rem;
}

tt {
    margin: 0 2px;
}

#write .md-footnote {
    background-color: #f9f9f9;
    color: #2c2c2c;
}

/* heighlight. */
#write mark {
    background-color: #f9f9f9;
    border-radius: 2px;
    padding: 2px 4px;
    margin: 0 2px;
    color: #2c2c2c;
    font-weight: 500;
}

#write del {
    padding: 1px 2px;
}

.cm-s-inner .cm-link,
.cm-s-inner.cm-link {
    color: #ff2c2c;
}

.cm-s-inner .cm-string {
    color: #ff2c2c;
}

.md-task-list-item > input {
    margin-left: -1.3em;
}

@media print {
    html {
        font-size: 13px;
    }

    table,
    pre {
        page-break-inside: avoid;
    }

    pre {
        word-wrap: break-word;
    }
}

.md-fences {
    background-color: #f9f9f9;
}

.md-diagram-panel {
    position: static !important;
}

#write pre.md-meta-block {
    padding: 1rem;
    /*font-size: 85%;*/
    line-height: 1.45;
    background-color: #f9f9f9;
    border: 0;
    border-radius: 3px;
    color: #ff2c2c;
    margin-top: 0 !important;
}

.mathjax-block > .code-tooltip {
    bottom: .375rem;
}

#write > h3.md-focus:before {
    left: -1.5625rem;
    top: .375rem;
}

#write > h4.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

#write > h5.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

#write > h6.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

.md-image > .md-meta {
    border-radius: 3px;
    font-family: var(--font-monospace);
    padding: 2px 0 0 4px;
    font-size: 0.9em;
    color: inherit;
}

.md-tag {
    color: inherit;
}

.md-toc {
    margin-top: 20px;
    padding-bottom: 20px;
}

.sidebar-tabs {
    border-bottom: none;
}

#typora-quick-open {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

#typora-quick-open-item {
    background-color: #FAFAFA;
    border-color: #FEFEFE #e5e5e5 #e5e5e5 #eee;
    border-style: solid;
    border-width: 1px;
}

#md-notification:before {
    top: 10px;
}

/** focus mode */

.on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
}

header,
.context-menu,
.megamenu-content,
footer {
    font-family: var(--font-sans-serif);
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state {
    visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
    background-color: var(--side-bar-bg-color);
}

.md-lang {
    color: #b4654d;
}

.html-for-mac .context-menu {
    --item-hover-bg-color: #E6F0FE;
}
